*{
    margin:0;
    padding:0;
    background-color: #212121;
    text-align: center;
    color:#dfdfdf;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}

.create-btn{
    padding:20px;
    display:block;
    border-radius: 20px;
    margin:20px auto;
    width: 500px;
    max-width: 500px;
    border: none;
    background-color: rgba(127, 255, 212, 0.81);
    color: #343434;
    font-weight: 600;
    font-size: 16px;
}
.header{
    margin:20px auto;
}
.mb-10{
    margin-bottom: 10px;
}
button{
    padding:20px;
    display:block;
    border-radius: 20px;
    margin:20px auto;
    width: 80px;
    border: none;
    background-color: rgba(127, 255, 212, 0.81);
    color: #343434;
    font-weight: 600;
    font-size: 16px;
}

a{
    text-decoration: none;

}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgba(127, 255, 212, 0.81);
  }

  thead th:nth-child(1) {
    width: 10%;
  }

  thead th:nth-child(2) {
    width: 10%;
  }

  thead th:nth-child(3) {
    width: 15%;
  }

  thead th:nth-child(4) {
    width: 15%;
  }
  thead th:nth-child(5) {
    width: 15%;
  }

  th,
  td {
    padding: 10px;
  }
      html {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
  }

  thead th,
  tfoot th {
    font-family: "Rock Salt", cursive;
  }

  th {
    letter-spacing: 2px;
  }

  td {
    letter-spacing: 1px;
  }

  tbody td {
    text-align: center;
  }

  tfoot th {
    text-align: right;
  }

  input{
    box-shadow: 5px 5px 5px #21212181;
    border-radius: 9px;
    padding: 10px;
    border:1px white solid;
}
.card{
    background-color: red;
    border-radius: 30px;
    width: 800px;
}
